<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr class="font-weight-bold">
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Breed</th>
          <th scope="col">Owner</th>
          <th scope="col">Certified by</th>
          <th scope="col">Last Certified At</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cowList; let i = index ">
          <th scope="row">{{i + 1}}</th>
          <td>{{item['cowId'] | limiting : 10}}</td>
          <td>{{item['breed']}}</td>
          <td>{{item['farmerId'] | limiting : 10}}</td>
          <td>{{item['healthRecord']['doctorId'] | limiting : 10}}</td>
          <td>{{item['lastHealthCheck']}}</td>
          <td>{{item['status']}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>