<app-gray-header></app-gray-header>
<div class="row p-5">
  <div class="col-12 d-flex p-0" style="margin-left: -7px;">
    <button mat-button class="border-right" (click)="navigate()">Sign In</button>
    <button mat-button class="border-left" color="warn">Sign Up</button>
    <button class="ml-auto" mat-button color="warn">Hindi</button>
  </div>

  <div class="col-12 mb-4 mt-2">
    <p>Share the following details to create farmer account
      <span>
        <button mat-button color="warn" (click)="goToMain()">Change</button>
      </span>
    </p>
  </div>

  <div class="col-12">
    <form #farmerRegisterForm="ngForm" (submit)="onSubmitRegister()">
      <div class="row">

        <div class="col-12">
          <mat-form-field>
            <input matInput ngModel type="text" name="name" placeholder="Full Name" required>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <input matInput ngModel type="text" name="mobile" placeholder="Mobile Number" pattern="^[789]\d{9}$" required>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <input matInput ngModel type="text" name="aadharId" placeholder="Aadhar Number" pattern="^[0-9]\d{16}$" required>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <textarea matInput ngModel name="address" placeholder="Address" rows="2"></textarea>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <mat-select ngModel required placeholder="State" name="state">
              <mat-option *ngFor="let item of stateList" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <mat-select ngModel required placeholder="District" name="district">
              <mat-option *ngFor="let item of districtList" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <mat-select ngModel required placeholder="Tehsil" name="tehsil" required>
              <mat-option *ngFor="let item of tehsilList" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <input matInput ngModel [matDatepicker]="picker" name="dob" placeholder="Birth Date" id="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <mat-select ngModel required placeholder="Gender" name="gender" required>
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12 mt-3">
          <button mat-raised-button class="app-btn app-btn-full" color="warn" type="submit" [disabled]="!farmerRegisterForm.valid">Sign Up</button>
        </div>

        <div class="col-12 text-center mt-3">
          <p>By Signing in, you agree to our Privacy Policy</p>
        </div>

      </div>
    </form>
  </div>
</div>