<div class="row pt-3 bg-light" style="min-height: 100vh;">
  <div class="col-12">
    <div class="col-12">

      <h3 class="text-center mb-5">
        Welcome to
        <br>
        <span class="font-weight-bolder"> Cattle Market Place </span>
      </h3>

      <p class="text-center text-muted">Select Yourself As</p>

      <div class="row">
        <div class="col-md-4">
          <mat-card class="mb-3" matRipple (click)="navigateToFarmer()">
            <div class="text-center">
              <h2 class="text-muted m-0">Farmer</h2>
            </div>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="mb-3" matRipple (click)="navigateToDoctor()">
            <div class="text-center">
              <h2 class="text-muted m-0">Doctor</h2>
            </div>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="mb-3" matRipple (click)="navigateToAuditor()">
            <div class="text-center">
              <h2 class="text-muted m-0">Govt/Auditor</h2>
            </div>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="mb-3" matRipple (click)="navigateToCompany()">
            <div class="text-center">
              <h2 class="text-muted m-0">Company</h2>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>